<ng-content></ng-content>
@if (loading) {
  <mat-spinner [diameter]="spinnerDiameter" class="fs-scroll-spinner"></mat-spinner>
}

@if (!loading
  && completed
  && (completeMessage || completeIcon)
  ) {
  <div class="scroll-complete"
    >
    @if (completeMessage) {
      <span class="scroll-complete-message">{{ completeMessage }}</span>
    }
    @if (completeIcon) {
      <span class="scroll-complete-icon"><mat-icon>{{ completeIcon }}</mat-icon></span>
    }
  </div>
}

<ng-template></ng-template>
