.fs-scroll-spinner {
  margin: 0 auto;
}

.scroll-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7d7d7f;

  .scroll-complete-message,
  .scroll-complete-icon {
    margin: 0 4px;
  }
}
