::ng-deep {
  .fs-scroll-wrapper {
    overflow-y: auto;
  }
}

.fs-scroll-spinner {
  margin: 0 auto;
}

.scroll-completed {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7d7d7f;
}
