<div class="container" *ngIf="state=='active'"
     fsScroll
     [(loading)]="loading"
     (load)="loadMore()"
     [completed]="completed"
     style="height: 200px">
  <table>
    <tr *ngFor="let record of records">
      Record #{{record}}
    </tr>
  </table>
</div>

<fieldset>
  <legend>Status</legend>
  <div><b>Loading: </b> {{ loading ? 'Loading' : 'Idle' }}</div>
  <div><b>Enabled: </b> {{ scrollComponent?.enabled | json }}</div>
</fieldset>
<br>
<div>
  <button type="button" mat-raised-button (click)="enable()">Enable</button>
  <button type="button" mat-raised-button (click)="disable()">Disable</button>
  <button type="button" mat-raised-button (click)="destory()">Destory</button>
</div>
